@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=Silkscreen&display=swap');

body {
    background-color: #BBAB8C;
}

.gridL {
    display: grid;
    grid-template-rows: 1fs 1fs;
    grid-template-columns: 1fs 1fs 1fs;
}

.title {
    font-family: 'Shizuru', sans-serif;
    font-size: 60pt;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: 1rem;
}

.cell {
    background-color: #DED0B6;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.p1, .p2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 30pt;
    color: #DED0B6;
}

.desc {
    font-family: 'Silkscreen', sans-serif;
    font-size: 30pt;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 200px;
}

.desc:hover {
    color: #DADDB1;
}

.mark {
    font-family: sans-serif;
    font-size: 40pt;
    background-color: #DED0B6;
    padding: 0;
    margin: 0;
}

.p1Wins, .p2Wins {
    font-family: 'Silkscreen', sans-serif;
    font-size: 65pt;
    color: #fff;
    display: none;
}

.flag {
    font-size: 60pt;
}

.draw {
    font-family: 'Silkscreen', sans-serif;
    font-size: 65pt;
    color: #fff;
    display: none;
}

@media (min-width: 1401px) {
    .c1 {
        grid-row: 2;
    }
    
    .c2 {
        grid-row: 2;
    }
    
    .c3 {
        grid-row: 2;
    }

    .title {
        font-size: 100pt;
    }

    .p1, .p2 {
        font-size: 50pt;
    }

    .mark {
        font-size: 100pt;
    }
    
    .cell {
        width: 200px;
        height: 200px;
    }
    
    .desc {
        font-size: 50pt;
    }

    .draw {
        font-size: 100pt;
    }

    .p1Wins, .p2Wins {
        font-size: 100pt;
    }

    .flag {
        font-size: 90pt;
    }

    .mobile {
        display: none !important;
    }

    .notMobile {
        display: flex !important;
    }
}

@media (min-width: 1031px) and (max-width: 1400px) {
    .c1 {
        grid-row: 2;
    }
    
    .c2 {
        grid-row: 2;
    }
    
    .c3 {
        grid-row: 2;
    }

    .mobile {
        display: none !important;
    }

    .notMobile {
        display: flex !important;
    }
}

@media (max-width: 1030px) {
    .c1 {
        grid-row: 2;
    }
    
    .c2 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 30px;
    }
    
    .c3 {
        grid-row: 2;
    }

    .title {
        font-size: 30pt;
        margin-top: 30px;
    }

    .p1, .p2 {
        font-size: 15pt;
    }

    .mark {
        font-size: 37pt;
    }
    
    .cell {
        width: 74px;
        height: 74px;
    }
    
    .desc {
        font-size: 15pt;
    }

    .draw {
        font-size: 30pt;
    }

    .p1Wins, .p2Wins {
        font-size: 25pt;
    }

    .flag {
        font-size: 25pt;
    }

    .mobile {
        display: flex !important;
    }

    .notMobile {
        display: none !important;
    }
}